h1 {
    color: salmon;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-variant: small-caps;
    font-weight: bolder;
    font-size: 10rem;
    text-shadow: 5px 5px gray;
}